body {
    padding-top: 70px;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.files_table_div{
    width: 80%;
    margin: 0 auto;
}

table button{
    text-align: center;
}

.snps_table{
    width: 100%
}

.details-control{
    width:10%;
    cursor: pointer;
    color: darkslategrey
}

