{% extends 'template_base.html' %} {% block titleblock %} View Batches {% endblock %}
{% load staticfiles %}
{% block js_bottom_block %}
    <script src="{%  static 'js/batches.js' %}"></script>
{% endblock %}

{% block content %}
    <input type="hidden" id="preload_img_url" value="{% static "img/preload.gif" %}" />
    <input type="hidden" id="batch_id" name="batch_id" value="{{ batch_id }}"/>
    <input type="hidden" id="last_sample_clicked" />
    <div class="files_table_div">
        <table id="example" class="display" cellspacing="0">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
            </tr>
            </thead>
            <tfoot>
            <tr class="snp_row">
                <td></td>
                <td>Name</td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}