{% extends 'template_base.html' %}

{% block titleblock %}

    DNAfit Frontpage
{% endblock %}


{% block js_bottom_block %}
    <script>
        $(document).ready(function () {
            $('.active').removeClass('active')
            $('#index_link').addClass('active')
        })
    </script>
{% endblock %}



{% block content %}
    <div>
        <table class="table">
            <tr>
                {% for item in headers %}
                    <th>{{ item }}</th>
                {% endfor %}
            </tr>
            {% for row in records %}
                <tr>
                    {% for col, value in row.items %}

                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}